#content-container {
    margin-left: 10px;
}

a.view {
    color: #333;
}

a.view:hover, a.view:focus {
    color: #333;
}

.x-small {
    color: #333333;
    font-size: 11px;
}

.medium {
    font-size: 18px;
    font-weight: bold;
}

.large {
    color: #f5ead9;
    font-size: 24px;
    font-weight: bold;
}

.edit .bottom {
    position: absolute;
    bottom: 40px;
}

.create .bottom {
    position: absolute;
    bottom: 56px;
}

.edit .top-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 2px;
    background:none;
    border:none;
    box-shadow:none;
}

.edit .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 14px;
    bottom: 22px;
    background:none;
    border:none;
    box-shadow:none;
}

.create .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 38px;
    background:none;
    border:none;
    box-shadow:none;
}

#content-container .board {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(http://noterio.us/assets/img/note-view.png);
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}

#content-container .note {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(http://noterio.us/assets/img/note.png);
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}


#content-container .board.create, #content-container .note.create {
    background-image: url(http://noterio.us/assets/img/note-create.png);
    height: 240px;
}

.edit input[type=text], .edit textarea {
    color: #333333;
    border: 1px solid #f5ead9;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.create input[type=text], .create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.edit input[type=text]:hover, .edit textarea:hover,
.edit input[type=text]:focus, .edit textarea:focus {
    border: 1px solid #d7cebf;
}

.create fieldset > * {
    margin: 2px 0;
}

.create form {
    margin: 0px;
}

.imgContainer{
    width: 252px;
    max-height:166px;
    margin:5px;
}

.itemContainer
{
    border: 1px solid #f5ead9;;
    width: 274px;
    height: 250px;
    margin:5px;
    padding:5px;
}



.itemTitle{
    font-size: 0.8em;
    margin:5px;

}

.itemPrice{
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;

}

.itemNumber{

    margin:5px;
    font-size: 0.8em;
    font-weight: bold;
}


#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

.feedbackHeading{

    background-color: grey;
    /*text-align: center;*/
}
.removeImage{
    display:none;
}

.loadingBanner{
    margin-top: 200px;
    font-size: 2.5em
}


.salesItemContainer
{
    border: 1px solid #f5ead9;;
    width: 274px;
    height: 270px;
    margin:5px;
    padding:5px;
}

.discountPrice{
    margin-top:-3.0em;
    margin-left:-0.8em;
}

.groupHeaderIcons{
    margin-top:100px;
}

.iconSpanner{
    margin-right:40px;
    float:right;
}