<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Ordering Questions:</h3>
            <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold" width="377">Can I phone or fax my order?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">No, you cannot call our office but you can send a fax at 1-909-680-3203.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">Do you accept worldwide orders?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Yes, we accept online order from over 190 countries.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">How do I contact you regarding my order?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">You can email us at the <a href="contact.html">contact</a> page. Please mention your invoice (order) number or transaction ID for verification.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">Can I cancel an order after it is submitted?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">If your order has not yet been processed, then you may request cancellation of your order. Normally orders are placed for processing within 1-2 working days after we have received it. If your order has already been placed for processing, then it cannot be canceled.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">Do you have discounted rate for bulk orders?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Yes, we do. The minimum order is $300 or more to qualify for discount bulk orders.</td>
                </tr>
                <tr style="text-align: left;font-style:italic; font-weight: bold">
                    <td>What is your minimum order quantity or amount?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">There is no minimum order.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">What happens when ordered quantities are out of stock?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">You can put in a request if you want any specific items and we will fill your order soon as possible. Otherwise, please wait few weeks until we have these quantities in stock. We will notify you at the email of file as soon as your requested item is back in stock.</td>
                </tr>
                </tbody>
            </table>
            <h3>Shipping Questions:</h3></span></span>
            <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold" width="377">How much I have to pay for shipping?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">The shipping charges will vary and depend on the weight of your order.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">Do I have to pay any extra duties or taxes?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">You only have to pay the product price and shipping charge. There are no hidden or additional costs. However, depending on the laws in place in the country where the order is shipped, the buyer may be responsible for the payment of import duty, excise duty, inspection charges or any other charges.</td>
                </tr>
                </tbody>
            </table>
            <h3>Delivery Questions:</h3></span></span>
            <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold" width="377">What is the mode of delivery?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Deliveries are made through the express courier service provided by <a href="www.usps.com" target="_blank">USPS</a> or <a href="www.fedex.com" target="_blank">FedEx</a>.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">Can you deliver the parcel to my postal address?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">FedEx only delivers to "street address"; USPS can deliver to post office address.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">How long do I have to wait to recieve my order?</td>
                </tr>
                <tr>
                    <td style="text-align: left;">It generally takes about 4-6 working days or longer for UPS/USPS to deliver your order.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">It has been more than two weeks and I still haven't received my order.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">It generally takes 5-7 business days to get your order. You will be informed of your tracking number once you have placed your order. If your order as not arrived within three weeks, please contact us.</td>
                </tr>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold">The merchandise that I have received is not exactly as shown on the website.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Because of variances in the pictures as shown on web browsers, it may be difficult to ascertain the exact color for each product. Please see the return/refund policy below if you would like to return or exchange your purchase.</td>
                </tr>
                </tbody>
            </table>
            <h3>Return / Refund Questions:</h3>
            <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                <tr>
                    <td style="text-align: left;font-style:italic; font-weight: bold" width="377">I would like to return whole or part of the merchandise.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">If you are no completely satisfied with the merchandise purchased from us, return it within 10 days. You can request an exchange for other merchandise or a refund your money. When returning merchandise, please pack it carefully in a strong box and always include a copy of your invoice. Please do not use mailing envelopes or mail pouches. All returns and refused orders will be charged shipping and handling charges.</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <h4>Disclaimer:</h4>
            <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                <tr>
                    <td style="text-align: left;"><i>MyGANN shall not be liable for any injury, loss, direct or indirect due to the use of our products. It is the responsibility of the customer to determine the suitable use of the product before purchasing. Our liability shall be limited to the replacement of the product proved to be defective if returned within 7 days of purchase.</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


