<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick"/>
    <input type="hidden" name="business" value="mvone@verizon.net"/>
    <input type="hidden" name="item_name" value="{{item.title}}"/>
    <input type="hidden" name="item_number" value="{{item.sku}}"/>
    <input type="hidden" name="amount" value="{{item.sellingPrice|discountFilter:10}}"/>
    <input type="hidden" name="item_qty" value="1"/>
    <input type="hidden" name="no_shipping" value="2"/>
    <input type="hidden" name="no_note" value="1"/>
    <input type="hidden" name="currency_code" value="USD"/>
    <input type="hidden" name="bn" value="PP-BuyNowBF"/>
    <!--<input type="hidden" name="rm" value="2"/>-->
    <input type="hidden" name="return" value="http://mygann.com/esale/complete.php">
    <!-- the address of the canel page in case the transaction did not hapen -->
    <input type="hidden" name="cancel_return" value="http://mygann.com/esale/cancel.php">
    <br/>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"/>
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
</form>