<!--<img src="{{item.thumbnail}}" />-->
<!--<a href="{{item.itemUrl}}">{{item.title}}</a>-->
<!--<span>{{item.sellingPrice}}$</span>-->
<!--<span>{{item.sku}}</span>-->
<!--<span>{{item.itemId}}</span>-->

<div class="itemTitle">
    <a href="{{item.itemUrl}}">{{item.title|trimText:70|tidyText}}</a>
</div>

<!--<div class="imgContainer">-->
    <!--ng-show="getImageSize(item)"-->

    <img ng-src="{{item.thumbnail}}" width="100%" max-height="100%" />
<!--</div>-->
<div class="itemPrice">{{item.sellingPrice|currency:"$"}}</div>
<!--<div class="itemNumber">{{item.sku}}</div>-->
<!--<div class="itemNumber">{{item.continueDiscontinue}}</div>-->
